<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <%= javascript_include_tag "application" %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" rel="javascripts"> 
    <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../assets/stylesheets/sign.up.css">

  </head>

<body>
  <div class="entireBackground">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <img src="/images/logo.gif" alt="rss feed" style="float:left;"/>
            <a class="navbar-brand" href="#" ><%= link_to 'freelift', root_url, class: "navbar-brand"%></a>
            <a class="navbar-brand" href="#" ><%= link_to 'home', root_url, class: "navbar-brand"%></a>
                <h3 style="float:left; padding-left: 30px; font-size: 18px;"> By: Team Brazil </h3>
                <img style="float:left; " src="/images/brazil.png" alt="rss feed" />
          </div>
        </div>

          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
              <button type="submit" class="btn btn-danger"><%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link disable'  %></button>

              <button type="submit" class="btn btn-success"><%= link_to "Logout", destroy_user_session_path, :class => 'navbar-link', :method => :delete  %></button>

            </form>  
          </div>  
        </div>
        </div>

      <div class="jumbotron" style="background-image: url(/images/plainsroad.jpg);">
        <div class="container">
        <h2 style="font-weight: bold !important;">Edit Profile</h2>
        <p  style="font-weight: bold !important;"> Input the fields in which you wish to change </p>
      </div>
    </div>
<div id="loginArea" class="row" style="height: 775px;">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
          <div class="row">
            <div class="col-xs-2 col-xs-offset-4">
              <h4><%= f.label :name %></h4>
              <%= f.text_field :name, autofocus: true, :class => "form-control", :placeholder => "Enter your first name" %>
            </div>  
            <div class="col-xs-2">
              <h4><%= f.label :lastname %></h4>
              <%= f.text_field :lastname, autofocus: true, :class => "form-control", :placeholder => "Enter your last name" %>
            </div>  
            <div class="row">            
              <div class="col-xs-4 col-xs-offset-4">
              <h4><%= f.label :email %></h4>
              <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Enter your Freescale E-mail" %>
              </div>
            </div> 
            <div class="row">            
              <div class="col-xs-4 col-xs-offset-4">
              <h4><%= f.label :phone %></h4>
              <%= f.text_field :phone, autofocus: true, :class => "form-control", :placeholder => "Enter your phone number" %>
              </div>
            </div> 
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            <div class="row">            
              <div class="col-xs-4 col-xs-offset-4">
              <h4><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></h4>
                <%= f.password_field :current_password, autocomplete: "off", :class => "form-control", :placeholder => "Enter your current password" %>
              </div>
            </div> 
            <div class="row">            
              <div class="col-xs-4 col-xs-offset-4">
              <h4><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></h4>
                <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Enter your new password" %>
              </div>
            </div> 
            <div class="row">            
              <div class="col-xs-4 col-xs-offset-4">
              <h4><%= f.label :password_confirmation %></h4>
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirm your new password" %>
              </div>
            </div> 
            <div class="row">            
              <div class="col-xs-4 col-xs-offset-4">
              <h4><%= f.label :address %></h4>
              <%= f.text_field :address, autofocus: true, :class => "form-control", :placeholder => "Enter your address" %>
              </div>
            </div> 

          <div class="radioBtns">
            <h3> Can you drive? </h3>
            <div class="YesOrNo">
              <%= f.label :carbonated, 'Yes' %> <%= f.radio_button :drive, true %>
              <%= f.label :carbonated, 'No' %> <%= f.radio_button :drive, false %></div>      
            </div>
          </div>
              <%= f.submit "Update" , :class =>" btn-warning btn-xlarge", :style=> "font-size:40px !important"%>
            <% end %>
        </div>
      </div>
  </div>

</body>

