
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="../../../assets/stylesheets/sign.up.css">
 
<div class="entireBackground" style="background-color:#FFFFFF">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FreeLift</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="Core ID" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <%= button_to "Sign in", new_user_session_path, :class=>"btn btn-success" %>
        <%= button_to "Sign up", new_user_registration_path, :class=>"btn btn-warning" %>
 
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>
 
<div class="jumbotron">
        <div class="container">
                <h2  style="font-weight: bold !important;">Sign up</h2>
                <p  style="font-weight: bold !important;"> We need the following information from you to setup your carpooling </p>
        </div>
</div>
<div class="row">
 
<div id="loginInfo" class="col-md-6">
 
 
            
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %></div>

            <div><%= f.label :lastname %><br />
            <%= f.text_field :lastname, autofocus: true %></div>

            <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %></div>

            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %></div>

            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

            <div><%= f.label :address %><br />
            <%= f.text_field :address, autofocus: true %></div>

            <div><%= f.label :drive %><br />
            <%= f.label :carbonated, 'yes' %> <%= f.radio_button :drive, true %>
            <%= f.label :carbonated, 'no' %> <%= f.radio_button :drive, false %>

            <div><%= f.label "Car Capacity" %><br />
              <%= f.label :carbonated, 2 %> <%= f.radio_button :carcapacity, 2 %>
              <%= f.label :carbonated, 3 %> <%= f.radio_button :carcapacity, 3 %>
              <%= f.label :carbonated, 4 %> <%= f.radio_button :carcapacity, 4 %>
            </div>
 

            <div id="schedulingInfo" class="col-md-6">
              <h3> When do you arrive/leave work? </h3> 
                <table class="table table-striped table-bordered table-condensed table-hover greencss-label" width="400">
                    <tr>
                      <td class="info">Arrive at:</td>
                      <td class="info">M</td>
                      <td class="info">T</td>
                      <td class="info">W</td>
                      <td class="info">TH</td>
                      <td class="info">F</td>
                    </tr>
                    <tr class="success">
                      <td> 7h00 </td> 
                      <td> <%= f.radio_button :in_mo, "7:00" %> </td>
                      <td> <%= f.radio_button :in_tu, "7:00" %> </td>
                      <td> <%= f.radio_button :in_we, "7:00" %> </td>
                      <td> <%= f.radio_button :in_th, "7:00" %> </td>
                      <td> <%= f.radio_button :in_fr, "7:00" %> </td>
                    </tr>
                    <tr class="success">
                      <td> 7h30 </td> 
                      <td> <%= f.radio_button :in_mo, "7:30" %> </td>
                      <td> <%= f.radio_button :in_tu, "7:30" %> </td>
                      <td> <%= f.radio_button :in_we, "7:30" %> </td>
                      <td> <%= f.radio_button :in_th, "7:30" %> </td>
                      <td> <%= f.radio_button :in_fr, "7:30" %> </td>
                    </tr>
                    <tr class="success">
                      <td> 8h00 </td> 
                      <td> <%= f.radio_button :in_mo, "8:00" %> </td>
                      <td> <%= f.radio_button :in_tu, "8:00" %> </td>
                      <td> <%= f.radio_button :in_we, "8:00" %> </td>
                      <td> <%= f.radio_button :in_th, "8:00" %> </td>
                      <td> <%= f.radio_button :in_fr, "8:00" %> </td>
                    </tr>
                    <tr class="success">
                      <td> 8h30 </td> 
                      <td> <%= f.radio_button :in_mo, "8:30" %> </td>
                      <td> <%= f.radio_button :in_tu, "8:30" %> </td>
                      <td> <%= f.radio_button :in_we, "8:30" %> </td>
                      <td> <%= f.radio_button :in_th, "8:30" %> </td>
                      <td> <%= f.radio_button :in_fr, "8:30" %> </td>
                    </tr>
                    <tr class="success">
                      <td> 9h00 </td> 
                      <td> <%= f.radio_button :in_mo, "9:00" %> </td>
                      <td> <%= f.radio_button :in_tu, "9:00" %> </td>
                      <td> <%= f.radio_button :in_we, "9:00" %> </td>
                      <td> <%= f.radio_button :in_th, "9:00" %> </td>
                      <td> <%= f.radio_button :in_fr, "9:00" %> </td>
                    </tr>
                    <tr class="success">
                      <td> 9h30 </td> 
                      <td> <%= f.radio_button :in_mo, "9:30" %> </td>
                      <td> <%= f.radio_button :in_tu, "9:30" %> </td>
                      <td> <%= f.radio_button :in_we, "9:30" %> </td>
                      <td> <%= f.radio_button :in_th, "9:30" %> </td>
                      <td> <%= f.radio_button :in_fr, "9:30" %> </td>
                    </tr>
                    <tr>
                      <td class="info">Leave at:</td>
                      <td class="info">M</td>
                      <td class="info">T</td>
                      <td class="info">W</td>
                      <td class="info">TH</td>
                      <td class="info">F</td>
                    </tr>
                    <tr class="danger">
                      <td> 3h30 </td> 
                      <td> <%= f.radio_button :out_mo, "3:30" %> </td>
                      <td> <%= f.radio_button :out_tu, "3:30" %> </td>
                      <td> <%= f.radio_button :out_we, "3:30" %> </td>
                      <td> <%= f.radio_button :out_th, "3:30" %> </td>
                      <td> <%= f.radio_button :out_fr, "3:30" %> </td>
                    </tr>
                    <tr class="danger">
                      <td> 4h00 </td> 
                      <td> <%= f.radio_button :out_mo, "4:00" %> </td>
                      <td> <%= f.radio_button :out_tu, "4:00" %> </td>
                      <td> <%= f.radio_button :out_we, "4:00" %> </td>
                      <td> <%= f.radio_button :out_th, "4:00" %> </td>
                      <td> <%= f.radio_button :out_fr, "4:00" %> </td>
                    </tr>
                    <tr class="danger">
                      <td> 4h30 </td> 
                      <td> <%= f.radio_button :out_mo, "4:30" %> </td>
                      <td> <%= f.radio_button :out_tu, "4:30" %> </td>
                      <td> <%= f.radio_button :out_we, "4:30" %> </td>
                      <td> <%= f.radio_button :out_th, "4:30" %> </td>
                      <td> <%= f.radio_button :out_fr, "4:30" %> </td>
                    </tr>
                    <tr class="danger">
                      <td> 5h00 </td> 
                      <td> <%= f.radio_button :out_mo, "5:00" %> </td>
                      <td> <%= f.radio_button :out_tu, "5:00" %> </td>
                      <td> <%= f.radio_button :out_we, "5:00" %> </td>
                      <td> <%= f.radio_button :out_th, "5:00" %> </td>
                      <td> <%= f.radio_button :out_fr, "5:00" %> </td>
                    </tr>
                    <tr class="danger">
                      <td> 5h30 </td> 
                      <td> <%= f.radio_button :out_mo, "5:30" %> </td>
                      <td> <%= f.radio_button :out_tu, "5:30" %> </td>
                      <td> <%= f.radio_button :out_we, "5:30" %> </td>
                      <td> <%= f.radio_button :out_th, "5:30" %> </td>
                      <td> <%= f.radio_button :out_fr, "5:30" %> </td>
                    </tr>
                    <tr class="danger">
                      <td> 6h00 </td> 
                      <td> <%= f.radio_button :out_mo, "6:00" %> </td>
                      <td> <%= f.radio_button :out_tu, "6:00" %> </td>
                      <td> <%= f.radio_button :out_we, "6:00" %> </td>
                      <td> <%= f.radio_button :out_th, "6:00" %> </td>
                      <td> <%= f.radio_button :out_fr, "6:00" %> </td>
                    </tr>
                <table/>
              </div>
 
 
<div class="col-md-4 col-md-offset-4">
<button type="button" class="btn btn-success btn-xlarge active">Submit</button>
 
  <%= f.submit "Sign up" %>
</div>
 
<% end %>
 
<%= render "devise/shared/links" %>
</div>