<title>Navbar Template for Bootstrap</title>
<head>
  <!-- Bootstrap core CSS -->
  <%= javascript_include_tag "application" %>

  <link href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" rel="javascripts"> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="../../../assets/stylesheets/sign.up.css">

</head>

<body>
<div class="entireBackground">
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <div>
                
                <img src="/images/logo.gif" alt="rss feed" style="float:left;"/>
                <a class="navbar-brand" href="#" ><%= link_to 'freelift', root_url, class: "navbar-brand"%></a>
                <a class="navbar-brand" href="#" ><%= link_to 'home', root_url, class: "navbar-brand"%></a>
              </div>
            </div>
            <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" role="form">
                <button type="submit" class="btn btn-danger disabled"><%= link_to "login", new_user_session_path, :class => 'navbar-link'  %></button>
                <button type="submit" class=""><%= button_to "sign up", new_user_registration_path, :class => 'btn btn-success'  %></button>
              </form>  
            </div>  
          </div><!--/.nav-collapse -->
      </div>

        <div class="jumbotron" style="height: 80px !important; background-color: #DC3D24 !important;">
          <div class="container" style="vertical-align:middle;">
            <h2 id="signInForLogin" style="font-weight: bold !important; margin: 10px">Sign in</h2>
          </div>
        </div>

        <div class="signInArea" style="background-image: url(/images/cloudroad.jpg);">
          <div class="signInForm" >
            <div class="row disregardRowBackground" >
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="col-xs-2 col-xs-offset-5" style=" margin-top:12%;">

                  <h4 style = "text-align:left"><%= f.label :email %></h4>
                  <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Enter your e-mail"  %>
                </div>
              </div>
              <div class="row disregardRowBackground">
                <div class="col-xs-2 col-xs-offset-5">
                  <h4><%= f.label :password %></h4>
                  <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Enter your password"  %>
                </div>
              </div>
              <div class="row disregardRowBackground">
                <div class="col-xs-2 col-xs-offset-5">
                  <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me, :style=>"float:left; position:relative; top:10px;" %>
                    <h4> <%= f.label :remember_me, :style=>"position:relative; left:10px;"%></h4>
                  <% end -%>
                </div>
                <div class="row disregardRowBackground">
                  <div class="col-xs-2 col-xs-offset-4">
                    <% if devise_mapping.rememberable? -%>
                      <%= f.check_box :remember_me %><h4> <%= f.label :remember_me %></h4>
                    <% end -%>
                  </div>
                </div>
                <%= f.submit "Submit", :class =>" btn-success btn-xlarge" %>              
              <% end %>
            </div>
  


      </div>
    <div id="bottomText" class="col-md-2 cold-mx-offset-10">
      <h3 style="float:right"> By: Team Brazil </h3>
      <img style="float:right" src="/images/brazil.png" alt="rss feed" />
    </div>
  </body>
