  <head>
    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <%= javascript_include_tag "application" %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" rel="javascripts"> 

  </head>
    <div class="container">
      <div class="navbar navbar-default" role="navigation">

          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to 'Carpool', root_url, class: "navbar-brand"%>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
              </a></li>
              <li><a>
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              </a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
        <div class="jumbotron">
          <%= image_tag "user_pic.png", size: "240x190" %>
          <h3>
            <%= @user.name + ' ' + @user.lastname%>
          </h3>
          <br>
          <%= @user.email %>
          <br>
          Driver: 
          <% if @user.drive %>
            yes
          <% else %>
            no
          <% end %>
        </div>
      </div>
      <!-- Main component for a primary marketing message or call to action -->
    </div> 




